.logo{grid-area: logo;}
.navegador{grid-area: nav;}
.contenido{grid-area: main;}
.pie{grid-area: footer;}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 100%; */
  }
.contenedor-grid{
    display: grid;
    grid-template-areas: 
        'logo logo logo nav nav nav nav nav '
        'main main main main main main main main'
        'footer footer footer footer footer footer footer footer';
        width: 100%;
        background-color:#2C3E50;
        min-height: 100vh;
        font-family:'Lucida Sans';
        grid-template-rows: auto 1fr auto;
}
.navegador{
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #2C3E50;
  height: 100%;
  color:white;
  justify-content: flex-end;
}
.navegador a{
padding: 20px;
text-decoration:none ;
color: inherit;
}
.navegador a:hover{
background-color: #F4A261;
transition: background-color 0.3s;
}
.contenido{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
}
.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
}
.mensaje_tipoviaje{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px; */
  width: 50%;
  height: 60%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(233, 196, 106, 0.9); 
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  z-index: 1;
}
.tipoViaje{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}
/* From Uiverse.io by himanshu9682 */ 
.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}
/*Error al introducir la dirección*/
.contenedor_form_error{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* From Uiverse.io by andrew-demchenk0 */ 
.error {
  position: absolute;
  z-index: 2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: auto;
  top: -20px; /* Puedes ajustar para que no tape nada */
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}
/* From Uiverse.io by somshri16 */ 
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 50%;
  height: 75%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(233, 196, 106, 0.9); 
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
.grid-dias {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px 20px;
  border: none;
  padding: 10px 0;
}
legend{
  color:#2C3E50;
}
.grid-dias label {
  display: flex;
  align-items: center;
  gap: 8px;
  /* font-weight: 500; */
}
.titulo{
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #2c3e50;
}
.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
.flex label{
    width: 30%;
}
  
.form label {
    position: relative;
}
.fancy {
    background-color: #E76F51;
    border-color: #E76F51;
    color: white;
}
.form label .input {
  width: 85%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border-radius: 5px ;
  border: 2px solid #2A9D8F ;
  color: #264653;
}
.form label .input01 {
  width: 85%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border-radius: 5px ;
  border: 2px solid #2A9D8F ;
  color: #264653;
}
  
.fancy:hover {
    background-color: #264653;
    color: white;
}
.fancy:hover .text {
    color: white;
}
.form label .input + span {
position: absolute;
left: 10px;
top: 15px;
color: grey;
font-size: 0.9em;
cursor: text;
transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
top: 15px;
font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
top: 30px;
font-size: 0.7em;
font-weight: 600;
}

.form label .input:valid + span {
color: green;
}

.input01 {
width: 85%;
padding: 10px 10px 20px 10px;
outline: 0;
border: 2px solid #2A9D8F ;
border-radius: 5px;
}

.form label .input01 + span {
position: absolute;
left: 10px;
top: 50px;
color: grey;
font-size: 0.9em;
cursor: text;
transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
top: 40px;
font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
top: 50px;
font-size: 0.7em;
font-weight: 600;
}

.form label .input01:valid + span {
color: green;
}

.fancy {
background-color: #E76F51;
border: 2px solid #E76F51;
border-radius: 0px;
box-sizing: border-box;
color: white;
cursor: pointer;
display: inline-block;
font-weight: 390;
letter-spacing: 2px;
margin: 0;
outline: none;
overflow: visible;
padding: 8px 30px;
position: relative;
text-align: center;
text-decoration: none;
text-transform: none;
transition: all 0.3s ease-in-out;
user-select: none;
font-size: 13px;
}
.fancy .text {
font-size: 1.125em;
line-height: 1.33333em;
padding-left: 2em;
display: block;
text-align: left;
transition: all 0.3s ease-in-out;
text-transform: lowercase;
text-decoration: none;
color: white;
transform: translateX(30%);
}

.fancy:hover::before {
width: 1.5rem;
background: white;
}

.fancy:hover .text {
color: white;
padding-left: 1.5em;
}

.fancy:hover .top-key {
left: -2px;
width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
right: 0;
width: 0;
}
#sugerencias-origen,
#sugerencias-destino {
  list-style: none;
  position: absolute;
  top: 60px; /* Ajusta según el tamaño del input */
  left: 0;
  width: 100%;
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1; /* Que quede encima */
  padding: 0;
  margin: 0;
}
#sugerencias-origen li,
#sugerencias-destino li {
  padding: 10px;
  cursor: pointer;
}

#sugerencias-origen li:hover,
#sugerencias-destino li:hover {
  background-color: #eee;
}
.pie{
  height: 75px;
  background-color: #2C3E50 ;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.derechos{
  color:white;
  margin-left: 2%;
  letter-spacing: 0.1em;
}
.oculto{
    display: none;
}
.visible{
    display:flex;
}
.contenedorInfo{
    flex-direction:row;
    width:100%;
    height: 100%;
    align-items: center;
}
.contenedorMapa{
    width: 50%;
    justify-content: center;
    
}
#map{
    width:80%;
    height: 400px;
    border: 2px solid #264653;
    border-radius: 10px;
    gap: 20px;                  
    padding: 20px;
    margin-top: 5%;
    margin-right: 10%;
}
.cardInformativo .form{
    margin-left: 10%;
}
.cardInformativo{
    width: 50%;
    padding: 15px;
    font-family: 'Segoe UI', sans-serif;
    color: #264653;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    
}
.cardInformativo h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 1%;
    text-transform: uppercase;
    color: #264653;
}
.publicar{
  width: 60%;
  height: 50%;
}
.input[readonly] {
  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
}
.etiqueta{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.etiqueta label, .textArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
    font-weight: 600;
}
.etiqueta input, form textarea{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-top: 5px;
}
.info-control {
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-size: 14px;
    color: #333;
}
/* Estilos card control inicio sesion */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.notifications-container {
    width: 50%;
    height: auto;
    font-size:2rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0 auto;
    
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
.error-prompt-wrap ul{
    list-style: none;
}
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }
  .detras{
    z-index: -1;
  }
  /* Estilos tarjeta de viaje publicado */
  /* From Uiverse.io by rzouga001 */ 
.card {
  z-index: 1;
  margin-top: 5%;
  margin-right: 10%;
  width: 80%;
  height: auto;
  padding: 20px;
  border: 2px solid #264653;
  border-radius: 10px;
  background-color: #e2feee;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
  
}
.div_image_v {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
  z-index: 1;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
  z-index: 1;
}
.header {
  padding: 1.25rem 1rem 1rem 1rem;
  z-index: 1;
  background-color: #e2feee;
}
.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
  z-index: 1;
}
.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
  padding: 35%;
  z-index: 1;
}

.title {
  color: #066e29;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  z-index: 1;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f; 
  font-size: 1.15rem;
  line-height: 1.5rem;
  z-index: 1;
}
.contenedor_datos{
  background-color: rgb(234, 216, 170); ;
  width: 100%;
  height: 100%;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}
.contenedor_usuario_vehiculo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.datosUsuario{
  width: 50%;
  /* background: rgba(232, 205, 135, 0.9);; */
  /* border-radius: 18px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.8); */
  padding: 32px 24px 24px 24px;
  margin-right: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.datos-lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #264653;
  font-size: 1.08rem;
}

.botones-datos {
  display: flex;
  flex-direction:row;
  gap: 12px;
  width: 80%;
}
.datosVehiculo .botones-datos {
  margin-top: auto;
  width: 80%; /* igual que los de la izquierda */
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.datosUsuario .botones-datos {
  margin-top: auto;
}
.datosVehiculo{
  width: 50%;
  /* background: rgba(232, 205, 135, 0.9);; */
  /* border-radius: 18px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.8); */
  padding: 32px 24px 24px 24px;
  margin-right: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.botones-datos .fancy {
  width: 80%;
  font-size: 1rem;
}

.botones-datos .eliminar {
  background: #EF665B;
  border-color: #EF665B;
  color: #fff;
}

.botones-datos .eliminar:hover {
  background: #991B1B;
  border-color: #991B1B;
}
.linea-vertical{
  width: 2px;
  background: rgba(44, 62, 80, 0.2);
  border-radius: 2px;
  margin-top: 1%;
  align-self: stretch;
  background: #2c3e50; 
  z-index: 1;
}


@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}